<h1>Perfil</h1>
<h2>Bievenido, {{user.firstName}}</h2>
<di>
    <h2>Datos del usuario</h2>
    <div class="data-profile">
        <ul>
            <li>Email: {{user.email}}</li>
            <li><a href='/auth/administracion'>Ver datos super secretos<a></a></li>
        </ul>
    </div>
</di>
<a href='/auth/logout'>LOGOUT</a>
